@charset "UTF-8";

.booking {
	margin-top: 35px;
}

/* DivTable.com */
.booking_table {
	position: relative;
	display: table;
	width: 1300px;
	height: 450px;
	margin: 70px auto;
	border: 1px solid #303842;
}

.table_heading {
	background-color: #303842;
	display: table-header-group;
	height: 60px;
	font-weight: bold;
	color: white;
}

.table_heading .head {
	font-size: 19px;
}

.table_heading .head, .table_body .cell {
	display: table-cell;
}

.table_heading .head {
	vertical-align: middle;
}

.table_heading .schedule_theater {
	width: 300px;
}

.table_heading .schedule_movie {
	width: 500px;
}

.table_heading .schedule_date {
	width: 100px;
}

.table_heading .schedule_schedule {
	width: 400px;
}

.table_body {
	display: table-row-group;
}

.table_row {
	position: relative;
	display: table-row;
}

.table_row .cell li {
	height: 48px;
	line-height: 40px;
}

.theater_cell {
	vertical-align: top;
	border-right: 1px solid #303842;
}

.theater_cell::after {
	content: '';
	display: block;
	clear: both;
}

.backwardBtn{
	position: absolute;
    width: 69px;
    height: 59px;
    background-color: #FF243E;
    top: 0px;
    left: 0px;
    text-align: center;
    line-height: 59px;
    color: white;
    font-size: 15px;
    cursor:pointer
}
.theater_cell .region {
	display: block;
	width: 50%;
	vertical-align: top;
	margin: 0;
	float: left;
}

.cell.seat_cell {
	background-color: #101010;
}

.theater_cell .theater {
	display: block;
	width: 50%;
	height: 100%;
	margin: 0;
	background-color: #f5f5f5;
	float: left;
}

.cell.movie_cell {
	vertical-align: top;
	border-right: 1px solid #303842;
}

.movieValue {
	position: relative;
	height: 48px;
	line-height: 45px;
	font-size: 18px;
}

.movieValue .title {
	
}

img.movieChk {
	position: absolute;
	right: 14px;
	top: 14px;
}

/* 
.movie_cell li.active > li::after {
	content: "";
	background-image:
		url("/resources/img/booking/check.png");
	background-size: 18px 14px no-repeat;
	width: 18px;
	height: 14px;
	display: inline-block;
	margin-left: 5px;
	position:absolute;
	right: 10px;
	top:15px;
}
 */
.cell .date_cell {
	display: inline-block;
	width: 150px;
	vertical-align: center;
	border-right: 1px solid #303842;
}

.date_cell {
	border-right: 1px solid #303842;
	background-color: #f5f5f5;
}

.cell .date_cell li {
	vertical-align: center;
}

.cell .schedule_cell {
	vertical-align: top;
}

.booking_table ul, li {
	list-style: none;
	padding-left: 0px;
	cursor: pointer;
}

.cell li {
	display: block;
}


/*
.summerized_movie_info {
	width: 300px;
	margin-left: 20px;
}

.summerized_movie_info .m_title {
	text-align: left;
	font-weight: bold;
}

.summerized_movie_info .body * {
	display: block;
	float: left;
}

.summerized_movie_info {
	display: block;
	float: left;
	text-align: left;
}

.m_screen_date {
	display: block;
}

.ticket_selection {
	display: inline-block;
}

.s_poster_img {
	border-radius: 4px;
	float: left;
}

.s_poster_img::after {
	clear: both;
}

.s_poster_img {
	width: 80px;
}

.s_poster_img::after {
	clear: both;
}

.s_age_group{
	float:left;
}

.s_title{
	display:inline-block;
	float:left;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:160px;
    height: inherit;
}

.s_class_type{
	display:inline-block;
	float:left;
}

.s_class_type::after{
	clear:both;
}

.s_screen_datetime{
	display:inline-block;
}

.s_theater{
	display:inline-block;
}
*/

.summerized_movie_info {
    display: inline-block;
    width: 300px;
    margin-left: 20px;
    float: left;
}

.s_poster_img {
	border-radius: 4px;
	width: 80px;
	float:left;
}

.s_age_group {
	display:inline;
}
.s_info{
    display: inline-block;
    width: 200px;
	text-align: left;
}

.s_info .s_title{
	display:block;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:200px;
    height:inherit;
}

.p_poster {
	width:200px;
}

.ticket_selection {
	display: inline-block;
}

.seat.empty {
	width: 21px;
}

.ticket_cell {
	height: 150px;
	vertical-align: middle;
}

.adult, .youth, .special {
	display: inline-block;
	margin-right: 50px;
}

.special.last {
	margin-right: 0px;
}



input.inputCnt {
	width: 50px;
	text-align: center;
}

.temp_screen {
	width: 95%;
	height: 30px;
	color: white;
	background-color: #6E6E6E;
	line-height: 30px;
	margin: 30px auto;
}

span.seat_row {
	display: inline-block;
	width: 7px;
	margin-right: 20px;
	color: white;
	margin-right: 60px;
}

div.seat.empty {
	background-image: url("/resources/img/booking/empty_seat.png");
	background-size: 21px 16px;
	width: 21px;
	height: 16px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 7px;
	color: black;
	cursor: pointer;
}

div.seat.taken {
	background-image: url("/resources/img/booking/taken_seat.png");
	background-size: 21px 16px;
	width: 21px;
	height: 16px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 7px;
	color: black;
}

/* div.seat{
	background-image: url("/resources/img/booking/empty_seat.png");
	background-size:21px 16px;
	width:21px;
	height:16px;
	display:inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size:7px;
	color:white;
} */
.seatAlignment {
	margin: 50px auto;
}

.orderInfo_cell {
	height: 60px;
	line-height: 50px;
	text-align: left;
	background-color: #303842;
}

.orderInfo_cell .total {
	margin-left: 30px;
	color: white;
}

.orderInfo_cell .totalPrice {
	position: relative;
	font-size: 35px;
	color: white;
	font-weight: bold;
}

.initPayment {
	position: absolute;
	display: inline-block;
	text-align: right;
	right: 0px;
	width: 180px;
	height: 60px;
	background-color: #FF243E;
	text-align: center;
	color: white;
	cursor: pointer;
}

.active {
	font-weight: bold;
}

.available {
	
}

.taken {
	color: grey;
	font-weight: bold;
}

.unavailable {
	
}

.selected {
	background-image: url("/resources/img/booking/empty_seat.png");
	background-size: 21px 16px;
	width: 21px;
	height: 16px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 7px;
	color: red;
	font-weight: bold;
}

.cntBtn {
	width: 45px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}

.booking_detail {
	
}

.info {
	width: fit-content;
	margin: 50px auto;
}

.info .poster {
	display: inline-block;
	width: 175px;
}

.info .age_group {
	display: inline-block;
}

.info .title {
	display: inline-block;
	font-weight: bold;
	font-size: 17px;
}

.info span {
	display: block;
	margin-top: 10px;
}

.dlist_infor {
	padding-top: 15px;
	width: 270px;
	font-size: 15px;
	text-align: left;
}

.dlist_infor dt {
	float: left;
	width: 65px;
}

.dlist_infor dd {
	text-align: left;
}

#kakaopayBtn {
	cursor: pointer;
}