@charset "UTF-8";

.content{
	width:1500px;
	margin:100px auto;
}

.paySuccessInfo{
	width:700px;
    margin: 0 auto;
    border: 1px solid #adb5bd;
    
}

.message{
	margin: 30px auto;
}

.pay_success{
	width:120px;
}