@charset "UTF-8";

.content_wrap {
    margin: 0 auto;
    text-align: center;
    width:100%;
    min-width:1500px;
    height: 2500px;
}

.content {
	position:relative;
}

.movieSlide_wrap {
	height: 970px;
	background-color: black;
}

#movieSlide{
    width: 1500px;
    margin: 0 auto;	
}

.movie_poster_wrap{
	position: absolute;
	top: 500px;
	width: 100%;
}

.movie_poster{
	display:inline-block;
	padding-right: 50px;
}

.movie_poster.last{
	padding-right: 0px;
}

.movie_poster .poster_img{
	width: 270px;
	border-radius: 10px;
}

.movie_title {
	padding-top: 10px;
	display:block;
	color:white;
}

.nav_wrap{
	width:100%;
	min-width:1500px;
	height: 250px;
	background-color: white;
}

.nav{
	display:inline-block;
	margin: 0 auto;
	padding-top:40px;
	padding-right: 120px;
}

.nav.last{
	padding-right: 0px;
}

.nav_img{
	display: block;
	width:100px;
}

.nav_name{
	display:block;
	padding-top:10px;
}

#booking_img{
	width:130px;
}

.event_wrap{
	width:100%;
	min-width:1500px;
	height: 500px;
	background-color: #303842;
}
.notice_wrap{
	width:100%;
	height: 400px;	
	min-width:1500px;
}
.notice{
	
	display:inline-block;
	width:900px;
	height:inherit;
	background-color:brown;
}

.sns{
	display:inline-block;
	width:575px;
	height:inherit;
	background-col
}