<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="TheaterDto" type="com.bitcamp.semiproj.domain.TheaterDto"/>
		<typeAlias alias="NoticeDto" type="com.bitcamp.semiproj.domain.NoticeDto"/>
		<typeAlias alias="EventDto" type="com.bitcamp.semiproj.domain.EventDto"/>
	</typeAliases>
</configuration>