<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="AmountDto" type="com.bitcamp.semiproj.domain.AmountDto"/>
		<typeAlias alias="BookingDto" type="com.bitcamp.semiproj.domain.BookingDto"/>
		<typeAlias alias="CardInfoDto" type="com.bitcamp.semiproj.domain.CardInfoDto"/>
		<typeAlias alias="KakaoPayApprovalDto" type="com.bitcamp.semiproj.domain.KakaoPayApprovalDto"/>
		<typeAlias alias="KakaoPayReadyDto" type="com.bitcamp.semiproj.domain.KakaoPayReadyDto"/>
		<typeAlias alias="MovieDto" type="com.bitcamp.semiproj.domain.MovieDto"/>
		<typeAlias alias="OrderInfoDto" type="com.bitcamp.semiproj.domain.OrderInfoDto"/>
		<typeAlias alias="OwnSeatDto" type="com.bitcamp.semiproj.domain.OwnSeatDto"/>
		<typeAlias alias="PriceDto" type="com.bitcamp.semiproj.domain.PriceDto"/>
		<typeAlias alias="RegionDto" type="com.bitcamp.semiproj.domain.RegionDto"/>
		<typeAlias alias="ScheduleDto" type="com.bitcamp.semiproj.domain.ScheduleDto"/>
		<typeAlias alias="ScreenClassDto" type="com.bitcamp.semiproj.domain.ScreenClassDto"/>
		<typeAlias alias="ScreenDto" type="com.bitcamp.semiproj.domain.ScreenDto"/>
		<typeAlias alias="ScreenSeatDto" type="com.bitcamp.semiproj.domain.ScreenSeatDto"/>
		<typeAlias alias="TheaterDto" type="com.bitcamp.semiproj.domain.TheaterDto"/>
		<typeAlias alias="InquiryFaqDto" type="com.bitcamp.semiproj.domain.InquiryFaqDto"/>
		<typeAlias alias="InquiryLostDto" type="com.bitcamp.semiproj.domain.InquiryLostDto"/>
		<typeAlias alias="InquiryDto" type="com.bitcamp.semiproj.domain.InquiryDto"/>
		<typeAlias alias="NoticeDto" type="com.bitcamp.semiproj.domain.NoticeDto"/>
		<typeAlias alias="EventDto" type="com.bitcamp.semiproj.domain.EventDto"/>
		<typeAlias alias="UserDto" type="com.bitcamp.semiproj.domain.UserDto"/>
		<typeAlias alias="KakaoDto" type="com.bitcamp.semiproj.domain.KakaoDto"/>
		<typeAlias alias="ReviewDto" type="com.bitcamp.semiproj.domain.ReviewDto"/>
		<typeAlias alias="LikesDto" type="com.bitcamp.semiproj.domain.LikesDto"/>
		<typeAlias alias="MypageDto" type="com.bitcamp.semiproj.domain.MypageDto"/>
		<typeAlias alias="NaverDto" type="com.bitcamp.semiproj.domain.NaverDto"/>
	</typeAliases>
</configuration>