<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.bitcamp.semiproj.dao.BookingMapper">
    <insert id="insertBooking" parameterType="OrderInfoDto">
    	INSERT INTO booking (booking_id, schedule_id, pay_tid, user_id, quantity, booking_time)
		VALUES("${booking_id}", "${schedule_id}", "${pay_tid}", "${user_id}","${quantity}", now());
		
		INSERT INTO ownseat(booking_id, schedule_id, user_id, row_no, column_no, status)
		VALUES
	<foreach item="item" index="index" collection="ownSeatList" separator=",">
		("${booking_id}","${schedule_id}","${user_id}","${item.row_no}","${item.column_no}",1)
	</foreach>
    </insert>
    
    <select id="selectSequence" resultType="String">
		SELECT LPAD(AUTO_INCREMENT, 5, 0)
		FROM information_schema.tables
		WHERE table_name = 'booking';
    </select>

</mapper>