<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.bitcamp.semiproj.dao.MovieMapper">
    <select id="selectMovieByTheaterName" parameterType="String" resultType="MovieDto">
		SELECT m.seq, m.movie_id, m.title, m.age_group, m.genre, m.runningtime, m.poster_img, m.trailer_url, m.on_show, m.still_cut
		FROM movie AS m
		JOIN theater as t
		JOIN screen AS s
		JOIN show_schedule as shw
		ON shw.theater_name= t.theater_name AND shw.screen_id = s.screen_id AND shw.movie_id = m.movie_id
		WHERE shw.screen_date BETWEEN DATE_FORMAT(NOW(), '%Y-%m-%d') AND DATE_ADD(NOW(), INTERVAL 7 DAY) and t.theater_name=#{theater_name}
		GROUP BY m.title;
    </select>
    <select id="selectMovieByMovie_id" parameterType="int" resultType="MovieDto">
    	SELECT * FROM movie where movie_id=#{movie_id};
    </select>
    <select id="selectAllMovies" resultType="MovieDto">
    	SELECT * FROM movie where on_show=1 order by total_audience desc;
    </select>
</mapper>