<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.semiproj.dao.MypageDao">
	<!-- <select id="getUserData" parameterType="Map" resultType="MypageDto">
		select * from user where user_id=#{user_id};
	</select> -->
	
	<select id="getUserData" parameterType="String" resultType="MypageDto">
		select * from user where user_id=#{user_id};
	</select>
	
	<update id="updateMypage" parameterType="MypageDto">
		update user set nickname=#{nickname}, phone=#{phone}, email=#{email}, modified_date=now() where user_id=#{user_id}
	</update>
	
	<select id="pwCheck" resultType="String">
		select password from user where user_id = #{user_id}
	</select>

	<update id="pwUpdate">
		update user set password = #{password} where user_id = #{user_id}
	</update>
</mapper>