<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.semiproj.dao.MypageDao">
	<!-- <select id="getUserData" parameterType="Map" resultType="MypageDto">
		select * from user where user_id=#{user_id};
	</select> -->
	
	<select id="getUserData" parameterType="String" resultType="MypageDto">
		select * from user where user_id=#{user_id};
	</select>
	
	<update id="updateMypage" parameterType="MypageDto">
		update user set nickname=#{nickname}, phone=#{phone}, email=#{email}, modified_date=now() where user_id=#{user_id}
	</update>
	
	<select id="pwCheck" resultType="String">
		select password from user where user_id = #{user_id}
	</select>

	<update id="pwUpdate" parameterType="Map">
		update user set password = #{password} where user_id = #{user_id}
	</update>
	
	<delete id="deleteAccount" parameterType="String">
		delete from user where user_id=#{user_id}
	</delete>
	
	<select id="checkNickName" parameterType="String" resultType="int">
		select count(*) from user where nickname=#{nickname}
	</select>
	
	<select id="getUserReviewList" parameterType="String" resultType="ReviewDto">
		select * from review where user_id=#{user_id} order by write_date desc
	</select>
</mapper>